/* 文章详情 */

.article-detail .article-header {
  text-align: center;
  padding-bottom: 32px;
  border-bottom: 1px solid #e8e8e8;
}
.article-detail .article-header .article-title {
  color: #0d1a26;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.article-detail .article-header .article-desc {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}
.article-detail .article-desc .text {
  margin: 0 24px 0 8px;
}
.article-detail .article-desc .tag {
  margin-left: 8px;
}
.article-detail .article-desc .tag a {
  color: inherit;
}
.article-detail .article-content {
  margin: 24px auto;
}