/* 页面公共样式 */

ol, ul {
  list-style: none;
  padding: 0;
}

/* 文字超出显示省略 */
.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.app-wrapper {
  margin-top: 40px;
  background: #fff;
}

.app-main {
  padding: 0 20px;
  height: calc(100vh - 64px - 40px);
  overflow: auto;
}

/* 右侧抽屉 */
.drawer-btn {
  position: fixed;
  top: 20vh;
  right: 0;
  width: 40px;
  height: 40px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px 0 0 4px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.drawer-btn:hover {
  color: #1890ff;
}

/* markdown 样式 */
.markdown {
  margin: 0 auto;
  font-family: 'Lato', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  color: #555;
  line-height: 2;
}
.markdown img {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto 25px;
  padding: 3px;
  border: 1px solid #ddd;
}

.markdown pre, code {
  font-family: consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', monospace;
}
.markdown code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: #ff502c;
  background: #fff5f5;
  border-radius: 3px;
  font-size: 13px;
}
.markdown pre {
  padding: 10px;
  overflow: auto;
  margin: 20px 0;
  font-size: 13px;
  color: #4d4d4c;
  background: #f7f7f7;
  line-height: 1.6;
}
.markdown pre code {
  padding: 0;
  color: #555;
  background: none;
  text-shadow: none;
  font-family: consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', monospace;
}
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin: 20px 0 15px 0;
  padding-top: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.5;
  font-family: 'Lato', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  color: #555;
}
.markdown h2 {
    font-size: 1.4em;
  }
.markdown h3 {
  font-size: 1.3em;
  border-bottom: 1px dotted #eee;
}
.markdown h4 {
  font-size: 1.2em;
}
.markdown ul {
  padding-left: 20px;
}
.markdown ol {
  list-style: decimal;
  margin: 5px 0 5px 15px;
}
.markdown li {
  line-height: 2;
  list-style: circle;
}
.markdown .hljs-comment,
.markdown .hljs-quote {
  color: #575f6a;
}
.markdown blockquote {
  margin: 1em 0;
  border-left: 4px solid #ddd;
  padding: 0 1em;
  color: #666;
  }
.markdown p {
  margin: 0.5em 0;
  line-height: 1.7em;
}
.markdown table {
  font-size: 0.8em;
  max-width: 100%;
  overflow: auto;
  border: 1px solid #f6f6f6;
  border-collapse: collapse;
  border-spacing: 0;
}
.markdown thead {
  background: #f6f6f6;
  color: #000;
  text-align: left;
}
.markdown table th {
  padding: 0.8em 0.5em;
  line-height: 1.5em;
}
.markdown tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.markdown tbody td {
  min-width: 7.5em;
  padding: 0.8em 0.5em;
  line-height: 1.5em;
}
.markdown table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.markdown table tr:nth-child(2n) {
  background-color: #fcfcfc;
}
