/* 页面公共样式 */

ol, ul {
  list-style: none;
  padding: 0;
}

/* 文字超出显示省略 */
.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.app-wrapper {
  margin-top: 40px;
  background: #fff;
}

.app-main {
  padding: 0 20px;
}