/* 页面头部 */

.header {
  height: 64px;
  line-height: 64px;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 1;
  /* 吸顶 */
  position: sticky;
  top: 0;
}

.header-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* logo */
.logo {
  margin: 0;
  text-align: center;
  font-size: 20px;
  color: #1890ff;
}

/* 搜索条 */
.search-bar {
  display: flex;
  align-items: center;
  height: 24px;
  padding: 0 16px;
  line-height: 24px;
  border-left: 1px solid #ebedf0;;
}
.search-bar .search-icon {
  margin-right: 4px;
  color: #ced4d9;
  cursor: pointer;
}
.search-bar .search-input {
  font-size: 14px;
  border: 0;
  outline:none;
  box-shadow: none;
}
.search-bar .search-input:focus {
  outline:none;
  box-shadow: none;
}

/* 导航条 */
.nav-bar {
  flex: 1;
  font-size: 14px;
  text-align: right;
  border-bottom: none;
}
.nav-bar.ant-menu-horizontal > .ant-menu-item {
  height: 64px;
  line-height: 64px;
}

/* 用户信息 */
.user-info {
  display: flex;
  justify-content: center;
}
.user-info .ant-btn:first-child {
  margin-right: 6px;
}

/* 下拉菜单 */
.dropdown {
  width: 100vw;
  top: 0 !important;
}
.dropdown .nav-bar {
  text-align: left;
}
.dropdown .search-input {
  width: calc(100vw - 50px);
  border-bottom: 1px solid #ddd;
}
.dropdown .search-icon {
  color: inherit;
}